*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style-type: none;
}
a{
  text-decoration: none;

}

.container{
    width: 1320px;
    margin: 0 auto;
    /* background: teal; */
}
.hederPart{
    padding: 40px 0;
    background-color:teal;
}

.main ul{
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
}
.main ul li  a{
     font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    transition: 0.3s;
    font-style: italic;

}
.main ul li a:hover{
    color: rgb(255, 0, 0);
    top: 20px;
    left: 20px;
}



